<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/account.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container"> 
      <header class="WebTitle">
        <h1 class="title">RegisterWeb</h1>

        <a href="/register"><button type="button" class="btn">Create account</button></a>
      </header>
      <main>
        <article class="account-item">
          
          <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1121936691911168000/FWpuYXfp_400x400.jpg" alt="Eduardo Mantz">
            <div>
              <strong class="name">Eduardo Mantz</strong>
              <p>edu.mantz@gmail.com</p>
              <p>Olá sou um garoto brasileiro de 15 anos que ama programação</p>
            </div>
          </div>

        </article>
        <article class="account-item">
          
          <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1121936691911168000/FWpuYXfp_400x400.jpg" alt="Eduardo Mantz">
            <div>
              <strong class="name">Eduardo Mantz</strong>
              <p>edu.mantz@gmail.com</p>
              <p>Olá sou um garoto brasileiro de 15 anos que ama programação</p>
            </div>
          </div>

        </article>
      </main>
    </div>
  </body>
</html>