<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/account.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container"> 
      <header class="WebTitle">
        <h1 class="title">RegisterWeb</h1>

        <a href="/register"><button type="button" class="btn">Create account</button></a>
      </header>
      <main>

        {%for user in users %}
        <article class="account-item">
          
          <div class="user">
            <img src="{{ user.avatar }}" alt="{ {user.name }}">
            <div>
              <strong class="name">{{ user.name }}</strong>
              <p>{{ user.email }}</p>
              <p>{{ user.bio }}</p>
            </div>
          </div>

        </article>
        {%endfor%}
      </main>
    </div>
  </body>
</html>