<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container"> 
      <header class="WebTitle">
        <h1 class="title">RegisterWeb</h1>
      </header>
      <section class="WebSection">
        <div class="form-wrapper">
          <form action="/post" method="POST">
            <div class="input-block">
              <label for="name">Name</label>
              <input type="text" name="registerName" id="name" required>
            </div>
            <div class="input-block">
              <label for="email">Email</label>
              <input type="email" name="registerEmail" id="email" required>
            </div>
            <div class="input-block">
              <label for="password">Password</label>
              <input type="password" name="registerPassword" id="password" required>
            </div>
            <div class="input-block">
              <label for="avatar">Avatar(como com https://)</label>
              <input type="url" name="registerAvatar" id="avatar" required>
            </div>
            <div class="input-block">
              <label for="textare-bio">Biografia</label>
              <input type="text" name="textareaBio" id="textare-bio" required>
            </div>
            <input type="submit" class="btn-register">
          </form> 
        </div>
      </section>
    </div>
  </body>
</html>