<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container"> 
      <header class="WebTitle">
        <h1 class="title">RegisterWeb</h1>
      </header>
      <section class="WebSection">
        <div class="form-wrapper">
          <form action="">
            <div class="input-block">
              <label for="register-name">Name</label>
              <input type="text" name="register-name" id="register-name" required>
            </div>
            <div class="input-block">
              <label for="register-email">Email</label>
              <input type="email" name="register-email" id="register-email" required>
            </div>
            <div class="input-block">
              <label for="register-password">Password</label>
              <input type="password" name="register-password" id="register-password" required>
            </div>
            <div class="input-block">
              <label for="register-avatar">Avatar(como com https://)</label>
              <input type="url" name="register-avatar" id="register-avatar" required>
            </div>
            <div class="input-block">
              <label for="textare-bio">Biografia</label>
              <input type="text" name="textare-bio" id="textare-bio" required>
            </div>
            <input type="submit" class="btn-register">
          </form> 
        </div>
      </section>
    </div>
  </body>
</html>